<div class="slds-global-header__item slds-global-header__item_search">
  <div aria-expanded="false" aria-haspopup="listbox" class="slds-form-element slds-lookup" role="combobox">
    <label class="slds-assistive-text" for="global-search-01">Search Salesforce</label>
    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
      <svg class="slds-input__icon slds-input__icon_left" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
      </svg>
      <input type="text" aria-activedescendant="" aria-autocomplete="list" aria-controls="global-search-list-01" autocomplete="off" class="slds-input slds-lookup__search-input" id="global-search-01" placeholder="Search Salesforce" role="textbox">
    </div>
    <div class="slds-lookup__menu" role="listbox" id="global-search-list-01">
      <ul class="slds-lookup__list" role="group" aria-label="Recent Items">
        <li role="presentation">
          <h3 role="presentation" class="slds-lookup__item_label slds-text-body_small">Recent Items</h3>
        </li>
        <li role="presentation">
          <span class="slds-lookup__item-action slds-media" id="option-01" role="option">
            <svg class="slds-icon slds-icon-standard-opportunity slds-icon_small slds-media__figure" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
            </svg>
            <span class="slds-media__body">
              <span class="slds-lookup__result-text">Salesforce - 1,000 Licenses</span>
              <span class="slds-lookup__result-meta slds-text-body_small">Opportunity • Prospecting</span>
            </span>
          </span>
        </li>
        <li role="presentation">
          <span class="slds-lookup__item-action slds-media" id="option-02" role="option">
            <svg class="slds-icon slds-icon-standard-contact slds-icon_small slds-media__figure" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
            </svg>
            <span class="slds-media__body">
              <span class="slds-lookup__result-text">Art Vandelay</span>
              <span class="slds-lookup__result-meta slds-text-body_small">Contact • avandelay@vandelay.com</span>
            </span>
          </span>
        </li>
        <li role="presentation">
          <span class="slds-lookup__item-action slds-media" id="option-03" role="option">
            <svg class="slds-icon slds-icon-standard-account slds-icon_small slds-media__figure" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
            </svg>
            <span class="slds-media__body">
              <span class="slds-lookup__result-text">Vandelary Industries</span>
              <span class="slds-lookup__result-meta slds-text-body_small">Account • San Francisco</span>
            </span>
          </span>
        </li>
        <li role="presentation">
          <span class="slds-lookup__item-action slds-media" id="option-04" role="option">
            <svg class="slds-icon slds-icon-custom-8 slds-icon_small slds-media__figure" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom8"></use>
            </svg>
            <span class="slds-media__body">
              <span class="slds-lookup__result-text">Salesforce UK 2016 Events</span>
              <span class="slds-lookup__result-meta slds-text-body_small">General Ledger • $20,000</span>
            </span>
          </span>
        </li>
        <li role="presentation">
          <span class="slds-lookup__item-action slds-media" id="option-05" role="option">
            <svg class="slds-icon slds-icon-standard-lead slds-icon_small slds-media__figure" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
            </svg>
            <span class="slds-media__body">
              <span class="slds-lookup__result-text">H.E. Pennypacker</span>
              <span class="slds-lookup__result-meta slds-text-body_small">Lead • Nursing</span>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
