<ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">

  <li
    class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_x-small"
    [ngClass]="{ 'slds-is-close': !settingOpen, 'slds-is-open': settingOpen }">
      <button
        class="slds-button"
        title="person name"
        aria-haspopup="true"
        (click)="toggleAction()">
          <span class="slds-avatar slds-avatar_circle slds-avatar_medium">
            <img alt="Person name" src="/assets/images/avatar2.jpg" title="User avatar">
          </span>
      </button>
      <div class="slds-dropdown slds-dropdown_right slds-nubbin_top-right">
        <ul class="slds-dropdown__list" role="menu">
          <li class="slds-dropdown__header" role="separator">
            <span class="slds-text-title_caps" [innerHtml]="user?.account"></span>
          </li>
          <li class="slds-dropdown__item" role="presentation" *ngIf="!user">
            <a href="javascript:void(0);" role="menuitem" tabindex="0">
              <span class="slds-truncate" title="[object Object], New Note">
                <svg class="slds-icon slds-icon_small slds-icon-standard-note slds-m-right_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#push"></use>
                </svg> 登录</span>
            </a>
          </li>
          <li class="slds-dropdown__item" role="presentation" *ngIf="!user">
            <a href="javascript:void(0);" role="menuitem" tabindex="0">
              <span class="slds-truncate" title="[object Object], New Note">
                <svg class="slds-icon slds-icon_small slds-icon-standard-note slds-m-right_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#apex"></use>
                </svg> 注册</span>
            </a>
          </li>
          <li class="slds-dropdown__item" role="presentation" *ngIf="user">
            <a href="javascript:void(0);" role="menuitem" tabindex="0">
              <span class="slds-truncate" title="[object Object], New Note">
                <svg class="slds-icon slds-icon_small slds-icon-standard-note slds-m-right_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#power"></use>
                </svg> 退出</span>
            </a>
          </li>
        </ul>
      </div>
  </li>
</ul>
