<li role="treeitem" [attr.aria-level]="order">
  <div class="slds-tree__item">
    <a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">{{ item.title }}</a>
    <button class="slds-button slds-button_icon slds-m-right_x-small" disabled="" title="Toggle">
      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="fasle">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
      </svg>
      <span class="slds-assistive-text">Toggle</span>
    </button>
  </div>
  <ul class="slds-is-expanded" role="group" *ngIf="item.children">
    <app-menu-item *ngFor="let childItem of item.children;" [item]="childItem" [order]="order+1"></app-menu-item>
  </ul>
</li>
